# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm / IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs / local app data
*.log

# Local secrets
.env
.env.*
